parameters:
	ignoreErrors:
		-
			message: "#^Comparison operation \"\\>\\=\" between 1 and 1 is always true\\.$#"
			count: 1
			path: src/Command/DebugCommand.php

		-
			message: "#^Comparison operation \"\\>\\=\" between 7 and 7 is always true\\.$#"
			count: 1
			path: src/Command/DebugCommand.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: src/Command/DebugCommand.php

		-
			message: "#^Result of \\|\\| is always true\\.$#"
			count: 1
			path: src/Command/DebugCommand.php

		-
			message: "#^Strict comparison using \\=\\=\\= between \\*NEVER\\* and 6 will always evaluate to false\\.$#"
			count: 1
			path: src/Command/DebugCommand.php

		-
			message: "#^Strict comparison using \\=\\=\\= between 7 and 6 will always evaluate to false\\.$#"
			count: 1
			path: src/Command/DebugCommand.php

		-
			message: "#^Parameter \\#2 \\$configurator of method Symfony\\\\Component\\\\DependencyInjection\\\\ContainerBuilder\\:\\:registerAttributeForAutoconfiguration\\(\\) expects callable\\(Symfony\\\\Component\\\\DependencyInjection\\\\ChildDefinition, Sofascore\\\\PurgatoryBundle2\\\\Attribute\\\\PurgeOn, Reflector\\)\\: void, Closure\\(Symfony\\\\Component\\\\DependencyInjection\\\\ChildDefinition, Sofascore\\\\PurgatoryBundle2\\\\Attribute\\\\PurgeOn, ReflectionClass\\|ReflectionMethod\\)\\: void given\\.$#"
			count: 1
			path: src/DependencyInjection/PurgatoryExtension.php
