parameters:
	ignoreErrors:
		-
			message: "#^Comparison operation \"\\>\" between 7 and 5 is always true\\.$#"
			count: 1
			path: src/Attribute/RouteParamValue/DynamicValues.php

		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 1
			path: src/Attribute/RouteParamValue/DynamicValues.php

		-
			message: "#^Comparison operation \"\\>\" between 7 and 5 is always true\\.$#"
			count: 1
			path: src/Attribute/RouteParamValue/PropertyValues.php

		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 1
			path: src/Attribute/RouteParamValue/PropertyValues.php

		-
			message: "#^Method Sofascore\\\\PurgatoryBundle\\\\Cache\\\\Configuration\\\\Subscriptions\\:\\:getIterator\\(\\) should return Traversable\\<int, array\\{routeName\\: string, routeParams\\?\\: array\\<string, array\\{type\\: string, values\\: array\\<int, mixed\\>, optional\\?\\: true\\}\\>, if\\?\\: string, actions\\?\\: non\\-empty\\-array\\<int, Sofascore\\\\PurgatoryBundle\\\\Listener\\\\Enum\\\\Action\\>\\}\\> but returns ArrayIterator\\<int, array\\{routeName\\: string, routeParams\\?\\: array\\<string, array\\{type\\: string, values\\: array\\<int, mixed\\>, optional\\?\\: bool\\}\\>, if\\?\\: string, actions\\?\\: non\\-empty\\-array\\<int, Sofascore\\\\PurgatoryBundle\\\\Listener\\\\Enum\\\\Action\\>\\}\\>\\.$#"
			count: 1
			path: src/Cache/Configuration/Subscriptions.php

		-
			message: "#^Parameter \\#1 \\$alias of class Sofascore\\\\PurgatoryBundle\\\\Attribute\\\\RouteParamValue\\\\DynamicValues constructor expects string, bool\\|float\\|int\\|string\\|Symfony\\\\Component\\\\Yaml\\\\Tag\\\\TaggedValue given\\.$#"
			count: 1
			path: src/Cache/RouteMetadata/YamlMetadataProvider.php

		-
			message: "#^Parameter \\#1 \\$callback of function array_map expects \\(callable\\(bool\\|float\\|int\\|string\\|Symfony\\\\Component\\\\Yaml\\\\Tag\\\\TaggedValue\\)\\: mixed\\)\\|null, Closure\\(non\\-empty\\-array\\<int, string\\>\\|string\\|Symfony\\\\Component\\\\Yaml\\\\Tag\\\\TaggedValue\\)\\: \\(non\\-empty\\-array\\<int, string\\>\\|Sofascore\\\\PurgatoryBundle\\\\Attribute\\\\RouteParamValue\\\\ValuesInterface\\|string\\) given\\.$#"
			count: 1
			path: src/Cache/RouteMetadata/YamlMetadataProvider.php

		-
			message: "#^Parameter \\#1 \\$enum of class Sofascore\\\\PurgatoryBundle\\\\Attribute\\\\RouteParamValue\\\\EnumValues constructor expects class\\-string\\<BackedEnum\\>, array\\<int, bool\\|float\\|int\\|string\\|Symfony\\\\Component\\\\Yaml\\\\Tag\\\\TaggedValue\\>\\|bool\\|float\\|int\\|string given\\.$#"
			count: 1
			path: src/Cache/RouteMetadata/YamlMetadataProvider.php

		-
			message: "#^Parameter \\#1 \\$property of class Sofascore\\\\PurgatoryBundle\\\\Attribute\\\\RouteParamValue\\\\PropertyValues constructor expects string, bool\\|float\\|int\\|string\\|Symfony\\\\Component\\\\Yaml\\\\Tag\\\\TaggedValue given\\.$#"
			count: 1
			path: src/Cache/RouteMetadata/YamlMetadataProvider.php

		-
			message: "#^Parameter \\#1 \\$value of class Sofascore\\\\PurgatoryBundle\\\\Attribute\\\\RouteParamValue\\\\RawValues constructor expects bool\\|float\\|int\\|string\\|null, bool\\|float\\|int\\|string\\|Symfony\\\\Component\\\\Yaml\\\\Tag\\\\TaggedValue given\\.$#"
			count: 1
			path: src/Cache/RouteMetadata/YamlMetadataProvider.php

		-
			message: "#^Parameter \\#2 \\$array of function array_map expects array, array\\<int, bool\\|float\\|int\\|string\\|Symfony\\\\Component\\\\Yaml\\\\Tag\\\\TaggedValue\\>\\|bool\\|float\\|int\\|string given\\.$#"
			count: 1
			path: src/Cache/RouteMetadata/YamlMetadataProvider.php

		-
			message: "#^Comparison operation \"\\>\\=\" between 1 and 1 is always true\\.$#"
			count: 1
			path: src/Command/DebugCommand.php

		-
			message: "#^Comparison operation \"\\>\\=\" between 7 and 7 is always true\\.$#"
			count: 1
			path: src/Command/DebugCommand.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: src/Command/DebugCommand.php

		-
			message: "#^Result of \\|\\| is always true\\.$#"
			count: 1
			path: src/Command/DebugCommand.php

		-
			message: "#^Strict comparison using \\=\\=\\= between \\*NEVER\\* and 6 will always evaluate to false\\.$#"
			count: 1
			path: src/Command/DebugCommand.php

		-
			message: "#^Strict comparison using \\=\\=\\= between 7 and 6 will always evaluate to false\\.$#"
			count: 1
			path: src/Command/DebugCommand.php

		-
			message: "#^Comparison operation \"\\<\\=\" between 7 and 5 is always false\\.$#"
			count: 1
			path: src/DependencyInjection/CompilerPass/RegisterExpressionLanguageProvidersPass.php

		-
			message: "#^Comparison operation \"\\<\\=\" between 7 and 5 is always false\\.$#"
			count: 1
			path: src/DependencyInjection/CompilerPass/RegisterRouteParamServicesPass.php

		-
			message: "#^Parameter \\#2 \\$configurator of method Symfony\\\\Component\\\\DependencyInjection\\\\ContainerBuilder\\:\\:registerAttributeForAutoconfiguration\\(\\) expects callable\\(Symfony\\\\Component\\\\DependencyInjection\\\\ChildDefinition, Sofascore\\\\PurgatoryBundle\\\\Attribute\\\\AsExpressionLanguageFunction, Reflector\\)\\: void, Closure\\(Symfony\\\\Component\\\\DependencyInjection\\\\ChildDefinition, Sofascore\\\\PurgatoryBundle\\\\Attribute\\\\AsExpressionLanguageFunction, ReflectionClass\\|ReflectionMethod\\)\\: void given\\.$#"
			count: 1
			path: src/DependencyInjection/PurgatoryExtension.php

		-
			message: "#^Parameter \\#2 \\$configurator of method Symfony\\\\Component\\\\DependencyInjection\\\\ContainerBuilder\\:\\:registerAttributeForAutoconfiguration\\(\\) expects callable\\(Symfony\\\\Component\\\\DependencyInjection\\\\ChildDefinition, Sofascore\\\\PurgatoryBundle\\\\Attribute\\\\AsRouteParamService, Reflector\\)\\: void, Closure\\(Symfony\\\\Component\\\\DependencyInjection\\\\ChildDefinition, Sofascore\\\\PurgatoryBundle\\\\Attribute\\\\AsRouteParamService, ReflectionClass\\|ReflectionMethod\\)\\: void given\\.$#"
			count: 1
			path: src/DependencyInjection/PurgatoryExtension.php

		-
			message: "#^Parameter \\#2 \\$configurator of method Symfony\\\\Component\\\\DependencyInjection\\\\ContainerBuilder\\:\\:registerAttributeForAutoconfiguration\\(\\) expects callable\\(Symfony\\\\Component\\\\DependencyInjection\\\\ChildDefinition, Sofascore\\\\PurgatoryBundle\\\\Attribute\\\\PurgeOn, Reflector\\)\\: void, Closure\\(Symfony\\\\Component\\\\DependencyInjection\\\\ChildDefinition, Sofascore\\\\PurgatoryBundle\\\\Attribute\\\\PurgeOn, ReflectionClass\\|ReflectionMethod\\)\\: void given\\.$#"
			count: 1
			path: src/DependencyInjection/PurgatoryExtension.php
